@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);body,html,input[type=text]{margin:0;padding:0;background-color:#f5f1ee;font-family:Open Sans Hebrew,sans-serif}app200-app{min-width:600px}
/*# sourceMappingURL=app.56aab36f1dba5881a39c.css.map*/